{
  "extends": ["airbnb-base", "prettier"],
  "globals": {
    "chrome": true,
    "gapi": true,
    "Blob": true,
    "XMLHttpRequest": true,
    "FormData": true,
    "window": true,
    "Function": true,
    "document": true
  },
  "rules": {
    "import/prefer-default-export": "off"
  }
}
